img{max-width: 100%;}
/**Regular Font**/
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	background:url(../images/back.jpg) no-repeat 100%;
	background-size: 100%;
	font-family: 'open_sanslight';
	font-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/**-----start-logo--------**/
.logo
{
	padding: 1em;
	text-align: center;
	padding: 1% 1% 5% 1%;
}
.logo h1{
	display: block;
	padding: 2em 0em;
}
.logo span{
	font-size: 2em;
	color:#fff;
}
.logo span img{
	width:40px;
	height: 40px;
	vertical-align:bottom;
	margin: 0px 10px;
}
/**-----end-logo---------**/
/*****copy-right*****/
.copy_right  {
	color: #fff;
	font-size: 0.85em;
	line-height: 1.8em;
	padding: 5em 0px 0px 0px;
	font-family: 'open_sansregular';
	text-align: center;
}
.copy_right a {
	color:#3498DB;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy_right a:hover {
	color:#fff;
}
/*********Media Queries************/
@media only screen and (max-width: 768px)
{
.copy_right {
	padding: 2em 0px 0px 0px;
}
.logo img {
	width: 315px;
}
}
@media only screen and (max-width: 640px)
{
.logo {
	padding: 1% 1% 12% 1%;
}
.logo img {
	width: 300px;
}
}
@media only screen and (max-width: 480px)
{
.logo {
	padding: 1% 1% 12% 1%;
}

/***/
.logo span {
	font-size: 1.6em;
}
}
.logo img {
	width: 270px;
}
@media only screen and (max-width: 320px)
{
.logo {
	padding: 1% 1% 12% 1%;
}
/***/
.logo span {
	font-size: 1.4em;
}
.logo span img {
vertical-align: middle;
}
.logo img {
	width: 200px;
}
}
